<header class="content header">
  <h2 class="title">Recruiter IT</h2>
  <p>
    Recruiter IT, es una Compañía construida en 2.018 con el Talento y la experiencia de grandes profesionales especializados en las Tecnologías de la Información y los Recursos Humanos.

    Nuestro compromiso en estos años, ha sido y sigue siendo, aportar la máxima calidad en la realización de cada Servicio, Proyecto o Producto realizado. Garantía de fiabilidad, que nos permite gozar de la confianza de nuestros clientes.

    A través de alianzas estratégicas con líderes tecnológicos del mercado, Recruiter IT está capacitada para aportarle las mejores soluciones con independencia de su tamaño y actividad, garantizando en todo momento, la más alta calidad en todas las soluciones tecnológicas implantadas.

    Contáctenos, sin duda encontrará un gran equipo de profesionales que le aportarán la mejor especialización a sus necesidades
  </p>

  <div class="btn-home">
    <button class="btn btn-primary" (click)="AltaUsuario()">Procesos Activos</button>
  </div>
</header>
<section class="content sau">

  <h3 class="title">Metodología</h3>
  <p>
    Recruiter IT, ha demostrado a sus clientes en estos años, tener entre sus valores la responsabilidad y la eficiencia.
    La relación que iniciamos con cada profesional se continua en el tiempo, no termina con la incorporación a su nuevo puesto, sino que nos mantenemos cercanos como un aliado que vela por sus intereses profesionales.
    En cuanto a nuestros clientes, está cercanía les aporta mayor información en relación a su integración y desarrollo, convirtiéndose en un importante valor añadido.
  </p>

  <div class="box-container">

    <div class="box">
      <i class="fab fa-angular"></i>
      <h3> Detalle </h3>
      <p>Seleccionamos de forma exhaustiva los perfiles tecnológicos que necesitas para completar tus equipos</p>
    </div>
    <div class="box">
      <i class="fab fa-apple"></i>
      <h3> Crecimiento </h3>
      <p>Facilitamos al talento una <strong>formación técnica continuada</strong> para dar respuesta a las competencias digitales mas demandadas</p>
    </div>
    <div class="box">
      <i class="fab fa-android"></i>
      <h3>Transparencia</h3>
      <p><strong>Transparencia, flexibilidad y agilidad</strong> en la gestion de tus equipos</p>
    </div>

  </div>

</section>
<section class="content contact">
  <h2 class="title">Contacto</h2>
  <a href="https://www.linkedin.com/in/javier-ugarrio-duro/"><strong>Javier Ugarrio Duro</strong></a>
  <p><strong>Email: </strong> j.ugarrio.duro@gmail.com, <strong> Telefono:</strong> +34 685 322 323</p>
</section>
