<header class="content header">
  <h2 class="title">Bootcamp a medida</h2>
  <p>
    Un Bootcamp es un curso intensivo pensado para formar al alumnado en las competencias necesarias para empezar a trabajar inmediatamente.
    Estos cuentan con temarios concentrados y se enfocanen las cuestiones practicas del día a díade la profesión o habilidad en cuestión.
  </p>
   <p>
    Vivimos una situación que favorece este tipo de desarrollos formativos, principalamente por la carencia de profesionales. Empresas que los imparten se promocionan y muchas personas deciden realizarlo para acortar el plazo de incorporación en el mercado profesional, pero cuando algo es demasiado generalista tampoco sirve.

    En Recruiter IT preferimos trabajar con las necesidades de las Empresas y desarrollar una formación a medida y construida para garantizar que quienes lo realicen tengan más del 80% de probabilidad de conseguir el puesto de trabajo en esa Compañía.

    Realizamos una minuciosa selección del grupo que participará en el programa formativo, implicamos al propio cliente en el proceso de decisión sobre los futuros colaboradores. Impartimos y gestionamos la formación, así como llevamos la gestión y el control de participación a nivel de asistencia, capacitación técnica mediante examenes, pruebas técnicas en modo evaluación continua,.. y si le interesa le ayudamos a bonificarlo a través de su crédito de la FUNDAE.

    Si está pensando en realizar un Bootcamp, contacte con nosotros.
  </p>
</header>
<section class="content sau">

  <h3 class="title">Proceso</h3>
  <p>
    Nos encargamos de formar en las primeras etapas a los recien graduados de carreras técnologicas.
    Detectando a los mejores candidatos en aptitud y actitud para formarlos en las técnologias propias del equipo de desarrollo
  </p>

  <div class="box-container">

    <div class="box">
      <i class="fab fa-angular"></i>
      <h3> Selección </h3>
      <p>Captamos y seleccionamos a los mejores candidatos a través de, entrevistas por competencias, pruebas técnicas y dinamicas grupales</p>
    </div>
    <div class="box">
      <i class="fab fa-apple"></i>
      <h3> Formación </h3>
      <p>Desarrollamos un plan de formación a medida con las tecnologias propias del equipo de desarrollo</p>
    </div>
    <div class="box">
      <i class="fab fa-android"></i>
      <h3>Seguimiento</h3>
      <p>Llevamos el seguimiento personalizado de cada candidato en todas las fases de desarrollo. Durante la selección, formación y durante su incorporación en su primer puesto de trabajo</p>
    </div>

  </div>

</section>
